table{
    display: block;
    background-color: #e5e5f7;
    width: 100%;
    border: #4d4646 solid 2px;
    margin-right: 30px;
    text-align: center;
    overflow:scroll;
}
.div{
    background-color: #0e1a3b;
    color: rgb(255, 255, 255);
    margin-right: 35px;
    border: solid white 2px;
    border-radius: 5px;
    text-align: center;
    margin-left: 20px;
}
.form__line{
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 1px;
    background-color: #0f1a3d;
    transform: scale(0);



}


.form_input:focus {
    color: #4d4646;
}
thead{
    background-color: #0c1737;
    color: white;
    border-bottom: solid 5px #4d4646;
}
td,th{ 
padding: 5px 10px;
   
}
tr:nth-child(even){
    color: #750d0d;
}

.editar, .eliminar{
    text-decoration: none;
    color: white;
    padding: 5px;
     font-family: Poppins;
     background-color: #070e24;
     border-radius: 10px;
}