.check{
    display: flex;
    color: rgb(53, 53, 53);
    align-items: center;
    justify-content: space-evenly;
}

.textos{
    font-size: 14;
    color: rgb(150, 151, 152);
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}
.centro{
    margin-left: 25px;
}