.imagen{
    margin-top: 0;
    width: 100%;
    height: 500px;
    background-image: url("pexels-mikhail-nilov-8923079.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    color: rgb(19, 6, 74);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 18px;
    align-items: center;
}




.elementos{
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    flex-wrap: wrap;
}

.elemento{
    width: 20%;
    text-align: justify;
    min-width: 250px;
    padding: 10px;
}
h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

span{color: antiquewhite;}

